.shopping-cart {
  background: #fff2f6;
  box-shadow: 3px 0px 3px 2px rgb(0 0 0 / 5%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  /* position: absolute;
  right: 0;
  z-index: 100; */
  }

  .title_cart {
    height: 60px;
    border-bottom: 1px solid #eee1e1;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 400;
  }
   .container_cart{
     display: flex;
     margin: 30px;

   }

  .delete-btn{
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
    Cursor: pointer;
  }

  .delete-btn {
    width: 18px;
    height: 17px;
    background: url(./img/delete-icn.svg) no-repeat center;
  }
   
  button.plus-btn img, button.minus-btn img{
      width: 20px;
  }
  
  .image_product {
    margin-right: 50px;
  }

  .image_product img{
    width: 120px;
    margin: 10px;
  }
   

  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
    font-size: 20px;
    font-weight: 200;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

  .quantity {
    padding-top: 20px;
    margin-right: 60px;
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #241b1f;
    font-weight: 300;
    padding: 4px;
    background: none;
  }
   
  button.minus-btn, button.plus-btn[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #ffd2eb;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
 
  .plus-btn img {
    margin-top: 2px;
  }
   
  .buttons:focus,
  input:focus {
    outline:0;
  }

  .total-price {
    width: 83px;
    padding: 30px;
    text-align: center;
    font-size: 24px;
    color: #43484D;
    font-weight: 400;
    align-self: flex-end;
  }

  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    button.minus-btn, button.plus-btn[class*=btn] {
      width: 20px;
      height: 20px;
      border-radius: 4px;
    }

    button.minus-btn img {
      width: 14px;

    }
    button.plus-btn img{
      width: 14px;
    }

    .container_cart {
      display: flex;
      margin: 0 20px;
    }
    .delete-btn {
      width: 20px;
      margin-right: 20px;
    }

    .image_product img {
      width: 0;
      position: absolute;
    }

    .description span:first-child {
      text-align: initial;
    }

    .image_product,
    .quantity,
    .description {

      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }

    .total-price{
      right: 10%;
      position: absolute;
      font-weight: 400;
      font-size: 20px;
    }
  }